#bridge #header .container img { display:none }

.panel-body {
    padding: 25px 0px 10px 25px;
    text-align: left !important;
    margin-bottom: 10px;
}

.row {
    margin-bottom: 15px !important;
}

#bridge .nav {
margin-bottom:0px !important;
}

#bridge .nav li { margin: 0px !important; }
#bridge .navbar-right { margin-right:15px !important; }
a:hover, #bridge a:focus { text-decoration:none !important; border:0px !important; outline:0px !important; }
#bridge ul.dropdown-menu { list-style-type:none !important; }
#bridge .container h2 { color: #fff !important;  }
#bridge  a.btn:focus, #bridge a.btn:hover { margin-bottom: 0px !important; padding: 6px 12px !important; !important; }
#bridge input.btn { margin:0px !important; }
.modal-backdrop {
    visibility: hidden;
}
#bridge .home-shortcuts .row {
	margin-bottom:0px !important;
}